{% set baseUrl = "https://met02-karakayn.c9users.io/MyLittleUnicornShop/" %}

{% include 'include/meta.twig' %}
<body>
    {% include 'include/header.twig' %}
    <section id="bodyPage" class="container">
        {% if session.messageError%}
            {% include 'include/alertError.twig' with {'alertErrorMessage': session.messageError} %}
        {% endif %}
        {% if messageError %}
            {% include 'include/alertError.twig' with {'alertErrorMessage': messageError} %}
        {% endif %}
        {% if session.messageSuccess%}
            {% include 'include/alertSuccess.twig' with {'alertSuccessMessage': session.messageSuccess} %}
        {% endif %}
        {% if messageSuccess %}
            {% include 'include/alertSuccess.twig' with {'alertSuccessMessage': messageSuccess} %}
        {% endif %}
        
        {% block body %}
        {% endblock %}
    </section>
    {%include 'include/footer.twig'%}
    <script type="text/javascript" src="{{ baseUrl ~ 'js/materialize.min.js' }}"></script>
    <script type="text/javascript" src="{{ baseUrl ~ 'js/custom.js' }}"></script>
    <script type="text/javascript" src="{{ baseUrl ~ 'js/autocomplete.js' }}"></script>
    {% block jsblock %}{% endblock %}
</body>
