{% include 'include/meta.twig' %}
<body>
    {% include 'include/header.twig' %}
    <section id="bodyPage" class="container">
        {% block body %}{% endblock %}
    </section>
    {%include 'include/footer.twig'%}
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/autocomplete.js"></script>
    {% block jsblock %}{% endblock %}
</body>
