<div class="card-panel pinkMaterializeBackground" id="miniCart">
  <h3 class="white-text center noMarginTop" id="titleCart">
    My cart (
    <span id="nbArticleMiniCart">
      {{session.articles|length }}
    </span>
    )
  
  </h3>
  
  {% set articlesTotalPrice = 0.00 %}
  {% for article in session.articles %}
    {% include 'include/miniCartItem.twig' with {'article': article} %}
    {% set articlesTotalPrice = "%.2f"|format(articlesTotalPrice) + "%.2f"|format(article.priceHT) %}
  {% endfor %}

  <div class="divider"></div>
  
  <div class="row noMarginTop noMarginBottom">
    <div class="col s6">
      <p class="white-text center">Livraison : Free</p>
    </div>
    <div class="col s6">
      <p class="white-text center">Total HT: <span id="totalHTMiniCart">{{"%.2f"|format(articlesTotalPrice)}}</span>€</p>
    </div>
  </div>

  <div class="divider smallMarginBottom"></div>

  <div class="row">
    <div class="col s12 flexIt">
      <button type="submit" class="widthMax btn pink lighten-4 borderPink"><a href="{{ baseUrl ~ 'index.php/shop/checkout'}}">Checkout</a></button>
    </div>
  </div>
  <div class="row">
    <div class="col s12 flexIt">
      <button type="submit" class="btn pink lighten-4 borderPink widthMax">My cart</button>
    </div>
  </div>
</div>