<div class="card-panel pinkMaterializeBackground" id="miniCart">
  <h3 class="white-text center noMarginTop" id="titleCart">
    My cart (
    <span id="nbArticleMiniCart">
      {{session.articles|length }}
    </span>
    )
  
  </h3>
  
  {% set articlesTotalPrice = 0.00 %}
  {% for article in session.articles %}
    {% include 'include/miniCartItem.twig' with {'article': article} %}
    {% set articlesTotalPrice = "%.2f"|format(articlesTotalPrice) + "%.2f"|format(article.priceHT) %}
  {% endfor %}
  
  <div class="row noMarginBottom">
    <div class="col s12">
      <div class="card horizontal maxHeightCardItems">
        <div class="card-image imgCartItem flexIt">
          <img src="https://met02-karakayn.c9users.io/MyLittleUnicornShop/img/pastry.png" alt="unicorn pastry">
        </div>
        <div class="card-stacked flexIt">
          <div class="card-content noPadding maxHeight">
            <div class="row autoMargin">
              <div class="col s12">
                <h4 class="">Unicorn pastry</h4>
              </div>
            </div>
            <div class="row autoMargin">
              <div class="col s9">
                <p>Quantity : 1.</p>
              </div>
              <div class="col s3">
                <p class="right pinkMaterializeColor">5,99€</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="divider"></div>
  
  <div class="row noMarginTop noMarginBottom">
    <div class="col s6">
      <p class="white-text center">Livraison : Free</p>
    </div>
    <div class="col s6">
      <p class="white-text center">Total HT: <span id="totalHTMiniCart">{{"%.2f"|format(articlesTotalPrice)}}</span>€</p>
    </div>
  </div>

  <div class="divider smallMarginBottom"></div>

  <div class="row">
    <div class="col s12 flexIt">
      <button type="submit" class="widthMax btn pink lighten-4 borderPink">Checkout</button>
    </div>
  </div>
  <div class="row">
    <div class="col s12 flexIt">
      <button type="submit" class="btn pink lighten-4 borderPink widthMax">My cart</button>
    </div>
  </div>
</div>