<div class="row noMarginBottom" id="article-{{article.id}}">
  <div class="col s12">
    <div class="card horizontal maxHeightCardItems">
      <div class="card-image imgCartItem flexIt">
        <img src="https://met02-karakayn.c9users.io/MyLittleUnicornShop/img/t-shirt.png" alt="unicorn t-shirt">
      </div>
      <div class="card-stacked flexIt">
        <div class="card-content noPadding maxHeight">
          <div class="row autoMargin">
            <div class="col s12">
              <h4 class="js-articleName">{{ article.name }}</h4>
            </div>
          </div>
          <div class="row autoMargin">
            <div class="col s9">
              <p>Size : {{ article.size }} | Quantity : 1.</p>
            </div>
            <div class="col s3">
              <p class="right pinkMaterializeColor"><span class="priceHTArticle">{{ "%.2f"|format(article.priceHT) }}</span>€</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>