{% extends "include/layout.twig" %}
{% block body %}
<div>
    <h1>
        404
    </h1>
    <h2>
        Ressource not found
    </h2>
    <img src="{{ baseUrl ~ 'img/sad-unicorn.png' }}"/>
    
</div>

{% endblock body %}