{% extends "include/layout.twig" %}
{% block body %}
    
  {% set articlesTotalPrice = 0.00 %}
  {% for article in session.articles %}
    {% include 'cartItem.twig' with {'article': article} %}
    {% set articlesTotalPrice = "%.2f"|format(articlesTotalPrice) + "%.2f"|format(article.priceHT) %}
  {% endfor %}

    <div class="divider"></div>
  
    <div class="row noMarginTop noMarginBottom">
        <div class="col s6">
            <p class="pinkMaterializeColor center">Livraison : Free</p>
        </div>
        <div class="col s6">
            <p class="pinkMaterializeColor center">Total HT: {{"%.2f"|format(articlesTotalPrice)}}€</p>
        </div>
    </div>
    <div class="divider smallMarginBottom"></div>

    <div class="row">
        <div class="col s12 flexIt">
            <button type="submit" class="widthMax btn pink lighten-4 borderPink"><a href="{{ baseUrl ~ 'index.php/shop/checkout'}}">Checkout</a></button>
        </div>
    </div>
</div>
      
    
{% endblock body %}