{% extends "include/layout.twig" %}
{% block body %}
   <h1>BILLING INFORMATION</h1>
    <form id="formInscription" class="smallMarginBottom">
    <h2>Payement method</h2>
    <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">local_post_office</i>
                <input id="address" type="text" class="validate" value="XXXX XXXX XXXX 3333">
                <label for="address">Card number</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <i class="material-icons prefix">local_post_office</i>
                <input id="address" type="text" class="validate" value="000">
                <label for="address">Secret Number</label>
            </div>
            <div class="col s3">
                <div class="input-field col s6">
                    <i class="material-icons prefix">local_post_office</i>
                    <input id="month" type="text" class="validate" value="12">
                    <label for="month">Month</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">local_post_office</i>
                    <input id="year" type="text" class="validate" value="12">
                    <label for="year">Year</label>
                </div>
            </div>
    
        </div>
        <h2>Billing address</h2>
        <hr/>   
    
        {% for useraddress in user.addresses %}
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">local_post_office</i>
                <input id="address" type="text" class="validate" value="{{useraddress.address}}">
                <label for="address">Address</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s4">
                <i class="material-icons prefix">location_on</i>
                <input id="postalcode" type="text" class="validate" value="{{useraddress.postalcode}}">
                <label for="postalcode">Postal Code</label>
              </div>
              <div class="input-field col s8">
                <i class="material-icons prefix">location_city</i>
                <input id="city" type="text" class="validate" value="{{useraddress.city}}">
                <label for="city">City</label>
              </div>
              
            </div>
          {% endfor %}
          
        <div class="row">
            <div class="col s4"></div>
            <div class="col s4">
                <button type="button" class="btn mediumButtonCentered customLessPinkBackground borderPink" onclick="paiement()">Proceed to paiement</button>
            </div>
            <div class="col s4"></div>
        </div>
  </form>
    {% block jsblock %}
        <script type="text/javascript" src="{{ baseUrl ~ 'js/paiement.js' }}"></script>
    {% endblock jsblock %}
{% endblock body %}