<div class="slider">
    <ul class="slides">
      <li>
        <img src="img/Unicorn-Narwhal-Moon-580-250.png"> <!-- random image -->
        <div class="caption left-align">
          <h3>Join the community</h3>
          <h5>Join us on social media !</h5>
        </div>
      </li>
      <li>
        <img src="img/narwhal-580-250.png"> <!-- random image -->
        <div class="caption right-align">
          <h3>10 new articles today !</h3>
          <h5>Thank's to Loranea contribution</h5>
        </div>
      </li>
      <li>
        <img src="img/unicorn-580-250.png"> <!-- random image -->
        <div class="caption center-align">
          <h3>New Unicorn arivals</h3>
          <h5>Buy your own custom pinky shiny unicorn now !</h5>
        </div>
      </li>
    </ul>
</div>